

.sider {
    background: rgb(245,246,250) !important;
}

.sider h1{
    background: rgb(245,246,250) !important;
    text-align: center;

}

.ant-layout-sider{
    background: rgb(245,246,250) !important;



}

.ant-menu {
    background: rgb(245,246,250) !important;
    border-right: 1px solid rgb(234, 236, 243) !important;
    height: auto !important;
}

.ant-menu-item {
    color: #fff; /* Цвет текста */
}

.ant-menu-item-selected {
    background-color: rgb(157, 159, 164) !important; /* Цвет выделенного элемента меню */
    color: #fff !important;
}

.ant-layout-sider-children ul{
    padding-top: 20px;
}