.header {
    background: rgb(245,246,250) !important;
    height: 60px !important;
    padding: 0 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* box-shadow: 0 2px 8px #f0f1f2; */
    border-bottom: 1px solid rgb(234, 236, 243) !important;

}

.user-profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-profile .username {
    margin-left: 8px;
}
